@font-face {
  font-family: 'Geomanist-Regular';
  src: url('../assets/fonts/Geomanist-Regular.ttf');
}

@font-face {
  font-family: 'Geomanist-Black';
  src: url('../assets/fonts/Geomanist-Black.ttf');
}

@font-face {
  font-family: 'Visby-Heavy-Italic';
  src: url('../assets/fonts/VisbyHeavy-Italic.otf');
}

@font-face { 
  font-family: 'Geomanist-Medium';
  src: url('../assets/fonts/Geomanist-Medium.ttf');
}

@font-face { 
  font-family: 'Coves-Light';
  src: url('../assets/fonts/Coves-Light.otf');
}

body {
  background-image: url("../assets/background.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;

  background-color: rgb(207, 207, 207);

  position: relative;
  min-height: 100vh;
  padding-bottom: 10em;
}

#maincontent {
  padding-top: 70px;
  height: 1010px;
}

h2 {
  padding-top: 40px;
  width: 200px;
  margin: auto;
  color: white;
  font-family: 'Visby-Heavy-Italic';
  text-decoration: underline;
  text-decoration-color: #b5561c;
  transform: scale(1.4);
}

.movie .movieposter {
  /* Centrar la imagen */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Tamaño del poster */
  width: 232px;
  height: 365px;
  border-radius: 15px;
}

.movie p {
  text-align: center;
  font-family: 'Geomanist-Medium';
}

.movie a {
  color: #595757;
  text-decoration: none;
}

.movie a:visited {
  color: #595757;
}

.movie a:hover * {
  font-size: large;
  transform: scale(1.02);
}

.movie {
  height: 470px;
}

.button-container {
  width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: none;
  border: none;
  overflow: visible;
}

.page-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: none;
  border: none;
}

.page-number{
  margin-left: 5px;
  margin-right: 10px;
  font-family: Geomanist-Medium, sans-serif;
}

.page-button button{
  height: 34px;
  width: 50px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(106, 155, 230);
  border-radius: 3px;
}

footer {
  position: absolute;
  font-family: 'Coves-Light';
  bottom: 0;
  left: 0;

  background-color: rgb(41, 41, 41);
  color: rgb(161, 161, 161);

  width: 99%;
  display: flex;

  padding-left: 1em;
  padding-right: 1em;
}

footer #name {
  font-size: small;
  letter-spacing: 1px;
  margin-right: 2px;
}

footer #name span {
  font-size: 1.1em;
  letter-spacing: 2px;
}

footer .info a {
  text-decoration: underline;
  letter-spacing: 1px
}

footer .info a:link {
  color: rgb(188, 188, 188);
}

footer .info a:visited {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  #maincontent {
    height: auto;
  }
}

@media (max-width: 800px) {
  body {
    background-image: url("../assets/background.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: rgb(72, 120, 148);
  }

  #maincontent {
    height: auto;
  }
  .movie p {
    text-align: center;
    font-family: 'Geomanist-Medium';
    color: white;
  }
  .shopping-cart {
    top: 10em;
    right: 2em;
  }
  .page-number{
    color:white;
  }
}